* {
    box-sizing: border-box;
    font-family: "Merriweather";
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-cSZMZ-Y.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    12% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeInSlow {
    0% {
        opacity: 0%;
    }
    88% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slide-horizontal {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(26%); 
    }
}


@keyframes slide-vertical {
    0% {
        transform: translateY(0);
    }
    88%{
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%); 
    }
}

@keyframes invis {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.white{
    color: white;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 0.75rem 4fr 0.75rem 1.5fr;flex: 1 1 auto;
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

.layout .left-col {
    display: grid;
    grid-template-rows: 1.5fr 1fr 8.5fr 5.875fr;
    background-image: url("images/background.jpg");
    color: white;
    height: 100vh;
}

.layout .main-cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.layout .main-cookie img:hover {
    cursor: pointer;
}

.layout .main-cookie img {
    position: absolute;
    width: 15rem;
    height: 15rem;
    object-fit: cover; 
}

.layout .username {
    display: flex;
    justify-content: center;
}

.layout .username button {
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    font-family: "Merriweather";
    width: 15rem;
    height: 3rem;
    margin-top: 4rem;
}

.layout .cookie-count {
    margin-top: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

.layout .cookie-count h1 {
     margin: 0;
}

.layout .left-col .milk {
    display: flex;
    flex-direction: row; /* Align images in a row */
    width: 100%;
    height: 100%; /* Ensure it takes up available height */
    overflow: hidden;
    
}

.layout .left-col .milk img {
    animation: slide-horizontal 3s linear infinite; 
    opacity: 85%;
    translate: -35.419% 0%;
    filter: saturate(1.5);
    filter: brightness(1.1);

}    .layout .cookie-rate {
    margin-bottom: 1.5rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.layout .divider-one {
    grid-column: 2 / 2;
}

.layout .mid-col {
    grid-column: 3 / 3;
    display: grid;
    height: 100vh;
    grid-template-rows: 6.62fr 0.5fr 55.95fr;
    
}

.layout .mid-col .menu{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 6.666fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 6rem;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6) 0%, rgb(0,0,0,0.3) 30%,  rgb(0,0,30, 0.3) 90%, rgb(0, 0, 0, 0.6) 100%),  url("images/background.jpg");
}


.layout .mid-col .menu img {
    height: 100%;
    object-fit: cover;
}

.layout .mid-col .menu .left-menu .options{
    position: absolute;
    transform: translate(-140%, 100%);
}

.layout .mid-col .menu .left-menu .stats{
    position: absolute;
    transform: translate(-175%, 275%);
}

.layout .mid-col .menu .mid-menu{
    text-align: center;
    color:white;
}

.layout .mid-col .menu .mid-menu .active-text{
    margin-bottom:0;
    animation: fadeIn 10s linear 1 reverse, slide-vertical 10s linear 1 forwards; 
}

.layout .mid-col .menu .mid-menu .incoming-text{
    margin-top: 0;
    animation: fadeInSlow 10s linear infinite forwards, slide-vertical 10s linear infinite forwards; 
}

.layout .mid-col .menu .right-menu .info{
    position: absolute;
    transform: translate(-175%, 100%);
}

.layout .mid-col .menu .right-menu .legacy{
    position: absolute;
    transform: translate(-140%, 275%);
}

.layout .mid-col .building-backgrounds{
    background-image: url("images/background.jpg");
}

.layout .divider-two {
    grid-column: 4 / 4;
}

.layout .divider-one img,
.layout .divider-two img {
    width: 0.75rem;
    height: 100vh;
    position: relative;
}

.layout .right-col {
    display: flex;
    flex-direction: column;
    grid-column: 5 / -1;
    padding: 0;
    z-index: 1;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6) 0%,rgb(0,0,0,0.6) 20%, rgb(0,0,0,0.4) 30%,  rgb(0,0,30, 0.4) 70%, rgb(0, 0, 0, 0.8) 100%),  url("images/background.jpg");
}

.layout .right-col h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout .right-col .shop-options {
    display: flex;
    background-color: rgba(0, 0, 0);
    align-items: center;
    padding: 0;
}

.layout .right-col .shop-options button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 2rem;
    width: 4rem;
    color: white;
    background-color: transparent;
    border: 0;
}

.highlight-button {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white;
    font-weight: bold;
}

.layout .right-col .shop-options .primary-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout .right-col .shop-options .primary-options button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.layout .right-col .shop-buildings {
    height: 100%;
    overflow-y: scroll;

}

.layout .right-col .shop-buildings button {
    width: 100%;
    height: 4rem; 
}

.layout .divider-three {
    margin: 0;
    padding: 0;
}

.layout .divider-three img {
    width: 100%;
    display: block;
    max-height: 1rem;
}

.layout .right-col .upgrade-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    grid-gap: 0;
    min-height: 0;
    overflow: visible;
    position: relative;
    flex: 1 0 auto;
}

.rotate-90 {
    rotate: 90deg;
}

.y-reflect {
    transform: scaleX(-1);
}

.push-right{
    float: right;
}
